     </main>
    <footer>
        <div class="footer-container">
            <div class="footer-section about">
                <h3>Qui sommes-nous ?</h3>
                <p>Nous sommes une marque passionnée par le streetwear et le confort. Nos hoodies sont conçus avec des matériaux de qualité pour allier style et bien-être au quotidien.</p>
            </div>

            <div class="footer-section social">
                <h3>Nos réseaux sociaux</h3>
                <div class="social-icons">
                    <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-tiktok"></i></a>
                </div>
            </div>

            <div class="footer-section privacy">
                <h3>Informations légales</h3>
                <ul>
                    <li><a href="#">Politique de confidentialité</a></li>
                    <li><a href="#">Conditions générales de vente</a></li>
                    <li><a href="#">Mentions légales</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2026 Hoodix. Tous droits réservés.</p>
        </div>
    </footer>
    <!-- Dans templates/, on remonte d'un niveau pour accéder à assets/js/ -->
    <script src="../assets/js/script.js"></script>
</body>
</html>